.header {
    bottom: 0;
    width: 100vw;
    height: 10%;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    background-color: #fff;
    position: sticky;
    top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}